#wrapper {
    display: flex;
    overflow: hidden;
}

#menu-container {
    flex-grow: 1;
    padding-left: 10px;
    overflow: auto;
}

#menu-container> :first-child,
#table-container> :first-child {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
}

#table-container {
    padding-right: 10px;
    border-right: 4px solid black;
}

.search-container input {
    padding: 10px;
    font-size: 1rem;
    box-shadow: 2px 2px 5px 0;
    border: none;
}

ul {
    padding: 0;
}

#table-container ul {
    position: sticky;
    top: 0;
}

li {
    padding: 20px;
    box-shadow: 2px 2px 5px 0px;
}

li::marker {
    content: "";
}

.name-container {
    font-size: 1.6rem;
    padding-bottom: 10px;
}

#order-details-wrapper {
    display: none;
    background: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
}

#order-details {
    position: absolute;
    top: 25%;
    left: 25%;
    background: white;
    padding: 10px;
    box-shadow: 5px 5px 5px 0;
    min-width: 25%;
}

#order-details > :first-child {
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

.display-block {
    display: block;
}

#order-title {
    flex-grow: 1;
}

.display-flex {
    display: flex;
}

table,
th,
td {
    padding: 10px;
}

#total {
    text-align: center;
}
#footer {
    text-align: right;
}